@charset "utf-8";

body {
  margin: 0;
  background: #cedbec
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

header #today {
  font-size: 24px;
}

header #todayTime {
  font-size: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 16px;
}

.names,
.timer {
  background: #fff;
}


#intime {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 16px;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
}

#intime:active {
  opacity: .6;
}

.overlay-names {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  pointer-events: none;
  opacity: 0;
}

.names {
  position: absolute;
  top: 100px;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
}

.names.correct {
  opacity: 1;
  pointer-events: all;
}

.overlay-names.correct {
  opacity: 1;
  pointer-events: all;
}

.names h2 {
  text-align: center;
}

main .names ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .names li {
  font-size: 20px;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  width: 200px;
  margin: 16px auto;
  text-align: center;
  cursor: pointer;
}

main .names li:active {
  opacity: .6;
}



.timer {
  border: 1px solid;
  border-radius: 8px;
  margin: 32px auto;
  width: 80%;
}

.timer ul {
  overflow: auto;
  height: 200px;
}

.timer h2 {
  text-align: center;
}

.timer li {
  border-bottom: solid 1px #ccc;
  margin: 8px;
  padding: 8px 0 0 0;
}

#close,
#close2 {
  cursor: pointer;
}

#close {
  position: absolute;
  right: 0;
}

#close2 {
  position: absolute;
  right: 10px;
  top: 60px;
}

.overlay {
  position: fixed;
  background: rgb(255, 255, 255, .85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;

}

.modal {
  position: absolute;
  background: #fff;
  top: 50px;
  left: 50%;
  width: 300px;
  border: 1px solid;
  border-radius: 8px;
  padding: 16px;
  opacity: 0;
  transform: translate(-50%, 100%);
  pointer-events: none;
  cursor: pointer;
}

.modal li:active {
  opacity: .6;
}

.modal.correct,
.overlay.correct {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.modal ul {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.modal li {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  gap: 8px;
}

.timer li {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: center;
}

.timer-type::before {
  content: '【';
}

.timer-type::after {
  content: '】';
}

.timer-type.out {
  color: red;
}

#calendar {
  margin: 8px;
}